* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    color: white;
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.5rem;
    margin: 1em 0
}
input,
button {
    margin-bottom: 3rem;
    width: 60%;
    padding: 10px 25px;
    font-size: 16px; 
    border: none;
    outline: none;
    border-radius: 2px;
    font-weight: 600;
}

.content {
    margin-bottom: -100px;
}


button {
    width: 30%;
    cursor: pointer
}

.details {
    margin-top: 3rem;
    width: 80%;
    height: 100%;
    max-width: 700px;
    /* border: 2px solid white; */
}

header {
    min-height: 100vh;
    position: fixed;
    max-width: 100%;
    display: grid;
    width: 100%;
    place-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* height: 100%; */
}

header::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    min-height: 100%;
    z-index: -1;
    backdrop-filter: blur(2.5px);
}

.video-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--clr-white);
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 999;
    transition: var(--transition);
  }
  .hide-preloader {
    z-index: -999;
    visibility: hidden;
  }


@media (min-width: 700px) {
   .split {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

    .content,
    .image {
        width: 55%;
    }

    .image {
    width: 45%;

}
     
  }